//- 
    options.class - классы для элемента
    options.text - заголовок
    options.type - поле type
    options.placeholder - плейсхолдер
    options.id - id
    options.isemail - по умолчанию text, при 'email' - 267px ширина и иконка
    options.masked - режим masked date field
    options.icon - отображение стрелки при true
    options.value - значение по умолчанию

mixin text-input(options)
    - let icon = ''
    - let box320 = 'text-input__w320'
    - let mask = ''
    - let pls = options.placeholder
    - if (options.isemail) {
    -    box320 = '';
    -    icon = 'text-input__icon';}
    - if (options.mask) { mask = 'masked-t-field'; pls = 'ДД.ММ.ГГГГ'}

    .text-input(class= options.class)
        if options.text
            p.text-input__text= options.text
        .text-input__container
            input(  type= options.type
                    placeholder= pls
                    maxlength="70"
                    id= options.id
                    class= [box320, mask]
                    value= options.value ).text-input__box
            div(class= icon)
