//- 
    options.name - имя комментатора
    options.date - дата
    options.text - текст комментария
    options.number  - кол-во лайков
    options.content - вид комментария (серый по дефолту, 'favorite' для выделенного)
    options.img     - имя файла аватарки с расширением
    options.alt     - alt-текст аватарки (для сео)

include ../like-butt/like-butt

mixin comment(options)
    .comment
        .comment__media
            img(src=`img/${options.img}`, alt=`${options.alt}` width="48px" height="48px").comment__avatar
            +like-butt({number: options.number, content: options.content})
        .comment__content
            .comment__name= options.name
            .comment__date= options.date
            .comment__text= options.text


